nav.navbar.navbar-default{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.body{
    margin-top: 50px;
    padding: 0px 15px 25px 15px;
}
.sidebar{
    border-right: 2px solid #004A7C;
}
.content{
    padding: 0;
    background-color: #004A7C;
    border-radius: 0;
    position: fixed;
    z-index: 2
}
.twins{
    margin-top: 15px;
}
a.list-group-item{
    color: #eee;
    background-color: #004A7C;
}
a.list-group-item.active{
    color: #10ADE4;
    background-color: #004A7C;
}
.list-group-item{
    border-radius: 0px !important;
    border: none;
}
.myFont{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-left: 5px;
}
.inline{
    display: inline;
}
.list-group-item.active{
    background-color: transparent;
    color: #10ADE4 !important;
}
.list-group-item.active:hover{
    background-color: #f5f5f5;
    /*color: #10ADE4 !important;*/
}
.right{
    float: right;
}
.full-height{
    padding: 0px;
}
.announce{ /* TODO: move this to main css file*/
    text-align: center;
    border-radius: 0px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
}
.submit{
  text-align: center;
}
.center{
  text-align: center;
}
.delete{
  margin-top: 25px;
}
.add-user{
  position: absolute;
  right: 10%;
  margin-top: 15px;
}
