html, body{
    font-family: 'Raleway', sans-serif;
    position: relative;
    height: 14rem;
    height: 100%;
}

body{
    background-color: #eee;
}
.vcenter {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
