@media(max-width: 768px){
    html{
        font-family: 'Raleway', sans-serif;
	overflow: visible;
    }
}

@media(min-width: 769px){
    html{
        overflow: visible;
    }
    .body-tab{
        margin-top: 50px;
    }
    .announce{
        z-index: 3;
    }
}

@media(min-width: 992px){
    html{
        overflow: visible;
    }
    .body-tab{
        margin-top: 10px;
    }

    .announce {
        margin-top: 0px;
    }
}
html{
    font-family: 'Raleway', sans-serif;
}
body{
    background-color: #eee;
}
body, html{
    width: 100%;
    height: 100%;
}
/* Navbar */
nav{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border: none !important;
}
nav.navbar.navbar-default{
    background-color: #004a7c !important;
    margin-bottom: 0px;
}
footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  border-top: 1px dashed white;
  background-color: rgba(0, 74, 124, 0.5);
}
.navbar-brand,
ul.nav.navbar-nav>li>a{
    color: #fff !important;
}
ul.nav.navbar-nav>li.active>a{
    background-color: #003152;
}
ul.nav.navbar-nav>li>a:hover{
    background-color: #003152 !important;
}
li.dropdown.open > a.dropdown-toggle{
    background-color: #003152 !important;
}
li.active>a:hover{
    background-color: #003152 !important;
}
button.navbar-toggle,
button.navbar-toggle:active,
button.navbar-toggle:hover,
button.navbar-toggle:visited{
    background-color: #003152 !important;
    border: none;
}
ul.nav.navbar-nav.visible-xs.visible-sm{
    font-size: 10px;
}
.navbar{
    border-radius: 0px !important;
}
.dropdown-menu{
    background-color: #003152 !important;
    border: none;
}
.dropdown-menu>li>a{
    color: #fff !important;
}
.dropdown-menu>li>a:hover{
    background-color: #004a7c;
    color: #fff;
}
/* Background */
.background{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../img/index/bg-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
}
.transparent{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 10, 82, 0.5);
    text-align: center;
}
.container{
    margin-left: 0px;
    margin-right: 0px;
}
.powered-by{
  position: absolute;
  width: 100%;
  height: 50px;
}
.powered-by-section{
  margin-right: 15px;
  height: 50px;
}
.powered-by-section-first{
  margin-left: -25px !important;
}
.code-luv{
  margin-right: 0px !important;
}
.google{
  height: 35px;
  margin-top: 8px;
}
.google{
  height: 40px;
  margin-top: 8px;
}
ul.nav.navbar-nav>li.disabled>a,
ul.nav.navbar-nav>li.disabled>a:hover{
    color: grey !important;
    background-color: transparent !important;
}
div.text-center.description{
    padding: 10px;
}
a.list-group-item.myFont{
    display: flow-root;
}
.description{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    margin-top: 10%;
}
.desc-title,
.desc-description{
    color: #fff;
}
.desc-description,
.get-started{
    font-size: 18px;
}
.get-started,
.get-started:hover{
    color: #98cfff;
    text-decoration: none;
}

/* Donation Button */
@import url(http://fonts.googleapis.com/css?family=Oswald);

body{
    font-family: 'Oswald', sans-serif;
}

.btn{
    margin: 4px;
    box-shadow: 1px 1px 5px #888888;
}

.btn-xs{
    font-weight: 300;
}

.btn-hot {
color: #fff;
background-color: #db5566;
border-bottom:2px solid #af4451;
}

.btn-hot:hover, .btn-sky.active:focus, .btn-hot:focus, .open>.dropdown-toggle.btn-hot {
color: #fff;
background-color: #df6a78;
border-bottom:2px solid #b25560;
outline: none;}


.btn-hot:active, .btn-hot.active {
color: #fff;
background-color: #c04b59;
border-top:2px solid #9a3c47;
margin-top: 2px;
}

.btn-sunny {
color: #fff;
background-color: #f4ad49;
border-bottom:2px solid #c38a3a;
}

.btn-sunny:hover, .btn-sky.active:focus, .btn-sunny:focus, .open>.dropdown-toggle.btn-sunny {
color: #fff;
background-color: #f5b75f;
border-bottom:2px solid #c4924c;
outline: none;
}


.btn-sunny:active, .btn-sunny.active {
color: #fff;
background-color: #d69840;
border-top:2px solid #ab7a33;
margin-top: 2px;
}

.btn-fresh {
color: #fff;
background-color: #51bf87;
border-bottom:2px solid #41996c;
}

.btn-fresh:hover, .btn-sky.active:focus, .btn-fresh:focus, .open>.dropdown-toggle.btn-fresh {
color: #fff;
background-color: #66c796;
border-bottom:2px solid #529f78;
outline: none;
}


.btn-fresh:active, .btn-fresh.active {
color: #fff;
background-color: #47a877;
border-top:2px solid #39865f;
outline: none;
outline-offset: none;
margin-top: 2px;
}

.btn-sky {
color: #fff;
background-color: #0bacd3;
border-bottom:2px solid #098aa9;
}

.btn-sky:hover,.btn-sky.active:focus, .btn-sky:focus, .open>.dropdown-toggle.btn-sky {
color: #fff;
background-color: #29b6d8;
border-bottom:2px solid #2192ad;
outline: no/e;
}

.btn-sky:active, .btn-sky.active {
color: #fff;
background-color: #0a97b9;
border-top:2px solid #087994;
outline-offset: none;
margin-top: 2px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: none;
    outline-offset: 0px;
}
.donate,
.donate:hover,
.donate:active,
.donate:visited{
    margin-top: 5px;
}
.full-height{
   height: 100vh;
}
.txt-white{
  color: white !important;
}
.code-luv{
  margin-top: 15px;
}
.right{
  text-align: right;
}
.github-button{
  margin-right: 15px !important;
}
